.card {
  border: 2px solid #fff;
  padding: 20px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 0px;

  color: #fff;
}

.card h1 {
  text-transform: uppercase;
}

.card p {
  font-size: 1.2rem;
}
